main {
    display: flex;
    justify-content: space-around;
}

aside {
    background-color: rgba(11, 76, 23, 0);
    width: 280px;
}

header {
    background-color: #4bcc62;
    height: 5px;
}

@media (max-width: 768px) {
    section {
        width: 400px;
    }
    aside {
        background-color: rgba(11, 76, 23, 0);
        width: 0;
    }
}
