.currencyBlock {
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 45px;
    margin-right: 50px;
    width: 380px;
    padding: 10px;
    box-sizing: border-box;
}

.currency {
    margin-bottom: 10px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    font-family: SB Sans Display, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-decoration: none solid rgb(0, 0, 0);
    word-spacing: 0;
}

.currency:hover {
    transform: scale(1.02);
    color: #575757;
}

.offerButton {
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #959595;
}

.offerButton:hover {
    transform: scale(1.02);
}

span {
    width: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
}

.lastUpdated {
    color: #575757;
}

@media (max-width: 768px) {
    .currencyBlock {
        display: none;
    }
}

@media only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2) {
    .currencyBlock {
        margin-right: 50px;
    }
}