.currencyBlock {
    border-radius: 15px;
    margin-top: 20px;
    box-sizing: border-box;
    width: 50%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    margin-left: 38%;
}

.currencies {
    display: flex;
    animation: infiniteMarquee 20s linear infinite;
    white-space: nowrap;
    width: max-content; /* Убирает обрезание элементов */
}

.lastCurrency:after {
    content: '';
    height: 20px;
    border: 1px solid black;
    margin-left: 10px;
}

.currency {
    flex: 0 0 auto; /* Гарантирует фиксированную ширину элементов */
    margin-right: 20px; /* Расстояние между элементами */
    display: flex;
    justify-content: space-between;
    font-family: SB Sans Display, sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.3px;
    word-spacing: 0;
    text-decoration: none solid rgb(0, 0, 0);
}
.currency:hover {
    transform: scale(1.02);
    color: #575757;
}

.offerButton {
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 30px;
    font-size: 15px;
    border: 1px solid #959595;
}

.offerButton:hover {
    transform: scale(1.02);
}

span {
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    white-space: nowrap;
    margin-right: 10px;
}

.lastUpdated {
    color: #575757;
}

.headerCurrency {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .currencyBlock {
        width: 100%;
        overflow: hidden;
        position: relative;
        margin-left: 0;
    }

    span {
        width: auto;
        box-sizing: border-box;
        display: flex;
        justify-content: right;
        white-space: nowrap;
        margin-right: 10px;
    }

    .currencies {
        display: flex;
        animation: infiniteMarquee 20s linear infinite;
        white-space: nowrap;
    }

    .headerCurrency {
        width: 200px;
    }

    .currency {
        flex: 0 0 auto;
        margin-right: 10px;
    }

    .lastCurrency:after {
        content: '';
        height: 20px;
        border: 1px solid black;
        margin-left: 10px;
    }
}

@media only screen and (min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2) {
    .currencyBlock {
        margin-right: 50px;
    }
}

@keyframes infiniteMarquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 768px) {
    .currencies {
        animation-duration: 10s; /* Ускоряем для мобильных устройств */
    }
}
