.header__container {
    width: 100vw;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 130px;
    box-sizing: border-box;
    border: 1px solid gray;
}

.header__logoWrapper {
    margin-left: 10px;
}

.header__logo {
    min-width: 40px;
    height: 40px;
}

.header__button {
    border: 1px solid gray;
    background-color: rgb(227, 227, 227);
    width: 130px;
    height: 35px;
    border-radius: 25px;
    font-size: 17px;
    margin-top: 9px;
    font-family: SB Sans Display, sans-serif;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .header__wrapper {
        display: flex;
    }
}