.pifWork__titleWrapper {
    width: 1200px;
    height: 152px;
    padding-left: 15px;
    margin-bottom: 150px;
    margin-top: 20px;
}

.pifWork__title {
    font-family: "SB Sans Display", sans-serif;
    font-size: 32px;
    letter-spacing: -0.3px;
    font-weight: 500;
    line-height: 42px;
    text-decoration: none solid rgb(0, 0, 0);
    word-spacing: 0;
    color: #000000;
}

.pifWork__container {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    background: #f0f3f6;
    width: 300px;
    height: 150px;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pifIcon {
    width: 46px;
    height: 46px;
}

.pifWork__Name {
    font-family: "SB Sans Display", sans-serif;
    font-size: 19px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 28px;
    text-decoration: none solid rgb(38, 38, 38);
    text-align: center;
    margin: 10px;
}

.pifWork__Interpretation {
    font-family: "SBSansText", sans-serif;
    font-size: 16px;
    letter-spacing: -0.3px;
    line-height: 24px;
    width: 320px;
    height: 72px;
    text-wrap: balance;
}

.pifPanelsWrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.dotContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #d3d3d3;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.dot:hover {
    background-color: #a9a9a9;
}

.activeDot {
    background-color: #000000;
}

/* Обычная версия для десктопа */
@media (min-width: 769px) {
    .carouselContainer {
        display: none;
    }

    .desktopContainer {
        display: flex;
    }
}

/* Карусель для мобильных устройств */
@media (max-width: 768px) {
    .pifPanelsWrapper {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-direction: row;
        overflow: hidden;
        width: 360px;
    }

    .pifWork__titleWrapper {
        width: 370px;
        height: 42px;
        padding-left: 15px;
        margin-bottom: 350px;
    }

    /* Панели для мобильной версии */
    .pifWork__container {
        width: 360px;
        margin-bottom: 10px;
        flex-shrink: 0;
    }

    /* Контейнер для точек */
    .dotContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .desktopContainer {
        display: none;
    }
}

@media (min-width: 769px) {
    .dotContainer {
        display: none;
    }
}

@media (max-width: 400px) {
    .pifWork__container {
        padding: 0;
        margin-right: 15px;
        width: 350px;
    }
}